# Project exclude paths
/app/node_modules/
/auth/client/node_modules/
/auth/data/node_modules/
/auth/mailer/node_modules/
/auth/server/node_modules/
/auth/util/node_modules/
/auth/client/dist/
/auth/data/dist/
/auth/mailer/dist/
/auth/server/dist/
/auth/util/dist/
/data/node_modules/
/identity/server/node_modules/
/identity/server/dist/
/app/src/**.js
/app/src/**.map.js
/auth/client/src/**.js
/auth/client/src/**.map.js
/auth/data/src/**.js
/auth/data/src/**.map.js
/auth/mailer/src/**.js
/auth/mailer/src/**.map.js
/auth/util/src/**.js
/auth/util/src/**.map.js
/auth/server/src/**.js
/auth/server/src/**.map.js
/data/src/**.js
/data/dist/
/data/src/**.map.js
/identity/server/src/**.js
/identity/server/src/**.map.js
